    <form class="form" 
    method="post" action="/api/sessions/confirmPasswordRestore/:restoreId"
    >
        <div class="title">
            <span>Introduce tu nueva contraseña</span>
        </div>
        <input class="input" name="newPassword" placeholder="Nueva contraseña" type="password">
        <button class="button-confirm" type="submit">Enviar</button>
    </form>



