
    <h1>Welcome</h1>
    <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/profile">Profile</a>
    </div>  






<script src="/socket.io/socket.io.js"></script> 
