
    <h1>Welcome</h1>
    <div>
        <a href="http://localhost:{{port}}/login">Login</a>
        <a href="http://localhost:{{port}}/register">Register</a>
        <a href="http://localhost:{{port}}/profile">Profile</a>
    </div>  






<script src="/socket.io/socket.io.js"></script> 
