    <form class="form" 
    method="post" action="/api/sessions/restoreEmail"
    >
        <div class="title">
            <span>Introduce tu e-mail. Se te enviará un enlace para recuperar tu contraseña</span>
        </div>
        <input class="input" name="email" placeholder="Email" type="email">
        <button class="button-confirm" type="submit">Enviar</button>
    </form>



