<header>
    <a href="/profile">profile</a>
    <a href="/products">products</a>
    <a href="/realTimeProducts">product admin</a>
    {{#unless isAdmin}}
    <a href="/carts/{{cart}}">cart</a>
    {{/unless}}
    {{#if isAdmin}}
        <a href="/adminDashboard/users">admin dashboard</a>
    {{/if}}
</header>
<div>
    <h1> Gracias por tu compra! </h1>
    <p> <span> Tu numero de orden es {{code}}.</span> En instantes seras redirigido al inicio </p>
</div>

<script src="/js/successfulPurchase.js"></script>