{{!-- <header>
    <a href="http://localhost:8080/profile">profile</a>
    <a href="http://localhost:8080/products">products</a>
    <a href="">cart</a>
</header> --}}
<div>
    <h1> Gracias por tu compra! </h1>
    <p> <span> Tu numero de orden es {{code}}.</span> En instantes seras redirigido al inicio </p>
</div>

<script src="/js/successfulPurchase.js"></script>